# Операционные системы
.DS_Store               # Mac OS
Thumbs.db               # Windows

# Логи
*.log

# Временные файлы
*.tmp
*.temp

# Директории
__pycache__/            # Кэшированные файлы Python
*.py[cod]               # Скомпилированные файлы Python
*.pyo                   # Оптимизированные файлы Python

# Виртуальные окружения
venv/                   # Виртуальное окружение Python
env/                    # Виртуальное окружение Python
env.bak/                # Безопасное резервное окружение
.venv/                  # Виртуальное окружение Python

# Зависимости
*.egg-info/            # Директория для информации о пакетах
dist/                   # Собранные файлы
build/                  # Сборочные файлы

# Конфиденциальные файлы
.env                    # Файлы окружения
*.pem                   # SSL сертификаты

# Другие
*.bak                   # Резервные копии
*.swp                   # Файлы временного сохранения

